<!--
Footer section 
-->
<footer class="footer">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="scripts/app.js"></script>
    
        <div class="container1">
            <div>
                <a href="https://www.linkedin.com/in/prajwal-br/" target="_blank" style="color:#bcb8b8; font-size: 25px; text-decoration:none;">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a href="https://github.com/prajwal-br31" target="_blank" style="color:#bcb8b8; font-size: 25px; text-decoration:none;">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            </div>
            <p style="color:#bcb8b8;">
            Email: <a href="mailto:prajwalbr.1231@gmail.com?subject=Looking to connect&body=Hi, I came across your website. It looked interesting, and I would like to connect for furthur enquiries.">prajwalbr.1231@gmail.com</a>
            <br />
            &copy;2025 PRAJWAL B R. All Rights Reserved. 
            </p>
        </div>
 </footer>
</body>
</html>