<!-- 
     About Me Page
-->
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h2> About myself </h2>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>As a software engineer, my journey began with a deep curiosity for technology and problem-solving, 
                       evolving from a personal interest into a dedicated profession. I am constantly refining my skills 
                       to stay at the forefront of web and mobile development. With a focus on crafting seamless, efficient digital experiences, 
                       I approach each project with a balance of creativity and technical precision.</p>
                    <br/>
                    <p>Outside of my professional work, I enjoy playing the keyboard, designing and building robots, 
                       and exploring nature through hiking—activities that not only provide me with relaxation but also 
                       inspire fresh perspectives in my work.</p>
                    <br />
                    <p>For more information about my professional work, please <a href="Prajwal_BR_Resume.pdf" download="Prajwal_BR_Resume">click here</a> to download my resume.</p>
                    <p>Checkout my LinkedIn profile <a href="https://www.linkedin.com/in/prajwal-br/">here.</a></p>
                    <p>Checkout my GitHub profile <a href="https://github.com/prajwal-br31">here.</a></p>

                </div>
                <div class="col-md-3">
                    <img src="../images/prajwal.png" alt="Prajwal" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">My skills</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/mern.png" height="200" alt="MERN stack">
                    <h3>MERN Stack<br/><small>MongoDB, Express.js, React, Node.js</small></h3>
                    <p>Building dynamic web and mobile applications using MERN stack.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/ui.png" height="200" alt="UI UX">
                    <h3>UI/UX Design<br/><small>React Native, CSS, Bootstrap</small></h3>
                    <p>Responsive user-facing features to the scale of any device.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/sql.png" height="200" alt="DataBase Management System">
                    <h3>DBMS<br/><small>MySQL, MariaDB</small></h3>
                    <p>Database Management for efficient data storage and handling.</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/oops.png" height="200" alt="Java">
                    <h3>OOPS<br/><small>Java, C++, Javascript</small></h3>
                    <p>Proficient in object oriented programming concepts.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/python1.png" height="200" alt="Python Programming">
                    <h3>Python<br/><small>Data Science</small></h3>
                    <p>Data Science using python for business analytics.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/aws.png" height="200" alt="GitHub">
                    <h3>Aamzon Web Services<br/><small>Cloud computing</small> </h3>
                    <p>Aws services for buidling, hosting and managing web applications.</p>
                </div>
                
            </div>
        </div>
    </main>
    <% include ../partials/footer1 %>