<!-- 
     About Me Page
-->
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> About Prajwal </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <br/>
                    <p>I am a self-motivated passionate developer, problem solver and continuous learner. My coding manifesto
                        is to write code readable and organised, reduce code redundency and increase efficiency, test and
                        investigate every scenario possible.</p>
                    <p>Currently looking for an opportunity to be a part of a development team where I am challenged. As of now I am interested in Full Stack Development, Website and App development</p>
                    <br />
                    <small><i>*for more information about my resume, please <a href="Prajwal_BR_Resume.pdf" download="Prajwal_BR_Resume">click here</a> to download 'My Resume' document.</i></small>
                </div>
                <div class="col-md-3">
                    <img src="../images/prajwal.png" alt="Prajwal" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Qualifications</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/uiux.png" height="200" alt="UI UX">
                    <h3>UI/UX Design<br/><small>React Native, CSS</small></h3>
                    <p>Responsive user-facing features to the scale of any devices.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/database.png" height="200" alt="DataBase Management System">
                    <h3>DBMS<br/><small>MySQL, MariaDB</small></h3>
                    <p>Database Management Systems for efficient storing and data handling.</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/mern.png" height="200" alt="MERN stack">
                    <h3>MERN stack<br/><small>MongoDB, Express.js, React, Node.js</small></h3>
                    <p>Building a Dynamic Web and Mobile Application.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/java-logo.png" height="200" alt="Java">
                    <h3>OOP<br/><small>Java</small></h3>
                    <p>Object-Oriented Programming</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/python.png" height="200" alt="Python Programming">
                    <h3>Python<br/><small>Data Science</small></h3>
                    <p>Data Science using Python for business insights</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-center" src="../images/Octocat.png" height="200" alt="GitHub">
                    <h3>Version Control<br/><small>GitHub</small> </h3>
                    <p>Continuous version control to manage projects in a timely manner.</p>
                </div>
                
            </div>
        </div>
    </main>
    <% include ../partials/footer %>