<!-- 
    Portfolio page
-->

<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Portfolio </h1>
            </div>

            <!-- Projects -->
            <div class="row">
                <div class="col-md-6 portfolio-item">
                    <a href="https://www.limendo.com/en/light/software-innovation-for-business">
                        <img class="img-responsive" height="200px" src="../images/kasa.png" alt="Kassa App">
                    </a>
                    <h4>
                    <a href="https://www.limendo.com/en/light/software-innovation-for-business">Developed Kassa App with the team at Limendo India</a>
                    </h4>
                    <p>A hotel management POS mobile app built with Nodejs, React Native, MariaDB</p>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a href="https://www.brundafinearts.com">
                        <img class="img-responsive" src="../images/art-page.jpg" alt="Kasa App">
                    </a>
                    <br></br>
                    <h4>
                    <a href="https://www.brundafinearts.com">Online gallery website developed for an Artist</a>
                    </h4>
                    <p>A responsive art portfolio website built using React, HTML and CSS</p>
                </div>
            </div>
            <hr></hr>
            <!-- end of first row -->

            <!-- Projects -->
            <div class="row">
                <div class="col-md-6 portfolio-item" style="display: block; height: fit-content;" >
                    <a href="https://github.com/prajwal-br31/Quiz_Platform">
                        <img class="img-responsive" src="../images/quiz-screen.jpg" alt="Quiz Platform">
                    </a>
                    <h4>
                    <a href="https://github.com/prajwal-br31/Quiz_Platform">Online Quiz Tool for Conducting Tests, Interviews etc.</a>
                    </h4>
                    <p>The Quiz Platform is built using Nodejs, JavaScript, HTML and CSS and MYSQL Database</p>
                </div>
                <div class="col-md-6 portfolio-item">
                    <a href="https://www.prajwalbr.info">
                        <img class="img-responsive" src="../images/portfolio.png" alt="Portfolio Website">
                    </a><br></br>
                    <h4>
                    <a href="https://www.prajwalbr.info">Professional portfolio website</a>
                    </h4>
                    <p>Dynamic responsive portfolio website for Professionals built using Nodejs, JavaScript, HTML and CSS</p>
                </div>
            </div>
        </div>
    </main>
    <% include ../partials/footer %>