<!--
    Services Page
-->

<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h2>10 Reasons why you should hire me!</h2>
            </div>
                <div class="row">
                    <div class="col-md-6 portfolio-item" style="text-align: center;">
                            <img src="../images/s20.png" style = "height: 250px; max-width: 450px; object-fit:cover">
                    </div>
                    <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                        <br />
                    
                        <b>1. Strong Foundation in Best Coding Practices</b>
                        <p>I have a solid understanding of Object-Oriented Programming (OOP), system design principles, 
                         and design patterns, enabling me to write good code.</p>
                
    
                    </div>
                </div>
            <hr></hr>


            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s19.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover; padding-right: 20px;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>2. Expertise in Writing Scalable, Optimized, and Readable Code</b>
                    <p>I am skilled at writing clean, reusable code that is both performant and well-documented,
                         ensuring long-term maintainability and easy collaboration with other developers.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s7.jpg" alt="image1" style="height: 250px; width: 450px; object-fit:cover">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>3. Strong Focus on Security Best Practices</b>
                    <p>I am proficient in implementing key security measures to prevent common vulnerabilities 
                        such as SQL injection, DoS attacks, and other potential security risks, ensuring safe and robust applications.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s5.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>4. Rigorous Code Testing and Quality Assurance</b>
                    <p>I thoroughly test my code to identify potential issues early, minimizing future bugs and 
                        maintaining high-quality standards throughout the development lifecycle.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s6.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>5. Product Design and Architecture Expertise</b>
                    <p>I can contribute to both high-level and low-level product design, helping to architect 
                    solutions that align with business needs while ensuring scalability, performance, and ease of maintenance.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s18.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>6.Cloud Infrastructure Setup</b>
                    <p>I can assist with setting up Git pipelines and configuring cloud computing services, including load balancing, 
                        API gateways, and other related infrastructure, for your project.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s10.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>7. Leadership and Collaboration Skills</b>
                    <p>I am capable of conducting effective code reviews, mentoring junior engineers, and working seamlessly 
                        with cross-functional teams including testers, DevOps, and other stakeholders to drive project success.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s15.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>8. Strong Ownership and Autonomous Work Ethic</b>
                    <p>I take full ownership of my tasks and projects, delivering high-quality features independently while 
                        remaining open to collaboration when needed.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s12.jpg" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>9. Consistently Delivering on Time and Addressing Issues Quickly</b>
                    <p>I ensure timely feature delivery with minimal delays, and I proactively communicate blockers 
                        to resolve them efficiently, keeping progress on track.</p>
                </div>
            </div>
            <hr></hr>
            <div class="row">
                <div class="col-md-6 portfolio-item" style="text-align: center;">
                    <img src="../images/s17.png" alt="image1" style="height: 250px; width: 450px; object-fit: cover;">
                </div>
                <div class="col-md-6 portfolio-item" style="font-size: 20px;">
                    <br />
                    <b>10. Positive and Engaging Team Presence</b>
                    <p>I bring a positive, upbeat attitude to the team and foster a fun, collaborative work 
                        environment—plus, I'm known for bringing snacks to keep the morale high!</p>
                </div>
            </div>
            <hr></hr><br/>
            <div style="text-align: center;">
                <h3> If all this sounds good and something you are looking for, Let's Connect!</h3>
                <br/>
                <img src="../images/funny.jpg" alt="image1" style="height: 600px; width: 450px; object-fit: cover;">
            </div>
            <br/><br/><br/>

        </div>
    </main>
<% include ../partials/footer1 %>
