<!-- 
    Thank you for contacting me Page
-->

<% include ../partials/header %>
<style>
    body {
        background: url("../images/contactpage.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        text-align: center;
    }
</style>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 panel panel-default">
                    <div class="text-vertical-center" style="margin: 50px 0;">
                        <h2>Email Successfully Sent!<h2>
                        <h4 style="color:rgb(0, 0, 0) ;"><em><br/> Thank you for contacting me <%= name %>. I will get back to you as soon as I can.
                        </em></h4>
                        <p><br/></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ../partials/footer1 %>